<main>
  <div class = "container">
    <div class = "row">
      <div class = "col-2">
        オプション編集
      </div>
    </div>
    <%= form_with model: @option, url: admin_option_path, method: :patch do |f| %>
      <div class = "row">
        <div class = "col-2">
          <label for = "name" style = "padding-left: 1em">
            名称
          </label>
        </div>
        <div class = "col-3">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class = "row">
        <div class = "col-2">
          <label for = "additional_price_1" style = "padding-left: 1em">
            加算料金1
          </label>
        </div>
        <div class = "col-3">
          <%= f.text_field :additional_price_1, class: "form-control" %>
        </div>
      </div>
      <div class = "row">
        <div class = "col-2">
          <label for = "additional_price_2" style = "padding-left: 1em">
            加算料金2
          </label>
        </div>
        <div class = "col-3">
          <%= f.text_field :additional_price_2, class: "form-control" %>
        </div>
      </div>
      <div class = "row">
        <div class = "col-2">
          <label for = "additional_price_3" style = "padding-left: 1em">
            加算料金3
          </label>
        </div>
        <div class = "col-3">
          <%= f.text_field :additional_price_3, class: "form-control" %>
        </div>
      </div>
      <div class = "row">
        <div class = "col-2">
          <label for = "additional_price_4" style = "padding-left: 1em">
            加算料金4
          </label>
        </div>
        <div class = "col-3">
          <%= f.text_field :additional_price_4, class: "form-control" %>
        </div>
      </div>
      <div class = "row">
        <div class = "col-5">
          <%= f.submit "新規登録", class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>
</main>