<main>
  <div class="text-center form-signin">
    <%= form_with model: @section, url: section_information_path, method: :patch do |f| %>
      <br><h3>部署情報を編集する</h3><br>
      <div class="row justify-content-center">
        <div class="col-2">
          <%= f.text_field :name, placeholder: "部署名", autofocus: true, autocomplete: "name", class: "form-control" %>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-2">
          <%= f.text_field :pic_name, placeholder: "担当者名", autocomplete: "pic_name", class: "form-control" %>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-2">
          <%= f.text_field :telephone_number, placeholder: "電話番号", autocomplete: "telephone_number", class: "form-control" %>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-2">
          <%= f.email_field :email, placeholder: "メールアドレス", autocomplete: "email", class: "form-control" %>
        </div>
      </div><br>
      <div class="row justify-content-center">
        <div class="col-2">
          <%= f.submit "更新", class: "btn btn-primary form-control"%>
        </div>
      </div>
    <% end %>
  </div>
</main>