<main>
  <div class = "container">
    <div class = "row">
      <div class = "col-2">
        郵便種別編集
      </div>
    </div>
    <%= form_with model: @type, url: admin_type_path, method: :patch do |f| %>
      <div class = "row">
        <div class = "col-2">
          <label for = "type_name_id" style = "padding-left: 1em">
            種類
          </label>
        </div>
        <div class = "col-3">
          <%= f.collection_select :type_name_id, TypeName.all, :id, :name, {include_blank: true }, class: "form-control" %>
        </div>
      </div>
      <div class = "row">
        <div class = "col-2">
          <label for = "weight_id" style = "padding-left: 1em">
            重量
          </label>
        </div>
        <div class = "col-3">
          <%= f.collection_select :weight_id, Weight.all, :id, :weight, {include_blank: true }, class: "form-control" %>
        </div>
      </div>
      <div class = "row">
        <div class = "col-2">
          <label for = "size_id" style = "padding-left: 1em">
            サイズ
          </label>
        </div>
        <div class = "col-3">
          <%= f.collection_select :size_id, Size.all, :id, :size, {include_blank: true }, class: "form-control" %>
        </div>
      </div>
      <div class = "row">
        <div class = "col-2">
          <label for = "address_id" style = "padding-left: 1em">
            宛先
          </label>
        </div>
        <div class = "col-3">
          <%= f.collection_select :address_id, Address.all, :id, :address, {include_blank: true }, class: "form-control" %>
        </div>
      </div>
      <div class = "row">
        <div class = "col-2">
          <label for = "address" style = "padding-left: 1em">
            カスタマーバーコード
          </label>
        </div>
        <div class = "col-3">
          <%= f.collection_select :barcode_id, Barcode.all, :id, :barcode, {include_blank: true }, class: "form-control" %>
        </div>
      </div>

      <div class = "row">
        <div class = "col-2">
          <label for = "price" style = "padding-left: 1em">
            基本料金
          </label>
        </div>
        <div class = "col-3">
          <%= f.text_field :price , class: "form-control" %>
        </div>
      </div>
      <div class = "row">
        <div class = "col-2">
          <label for = "special_price_1" style = "padding-left: 1em">
            特別料金1
          </label>
        </div>
        <div class = "col-3">
          <%= f.text_field :special_price_1 , class: "form-control" %>
        </div>
      </div>
      <div class = "row">
        <div class = "col-2">
          <label for = "special_price_2" style = "padding-left: 1em">
            特別料金2
          </label>
        </div>
        <div class = "col-3">
          <%= f.text_field :special_price_2 , class: "form-control" %>
        </div>
      </div>
      <div class = "row">
        <div class = "col-2">
          <label for = "special_price_3" style = "padding-left: 1em">
            特別料金3
          </label>
        </div>
        <div class = "col-3">
          <%= f.text_field :special_price_3 , class: "form-control" %>
        </div>
      </div>
      <div class = "row">
        <div class = "col-5">
          <%= f.submit "変更を登録する", class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>
</main>