<!--部署　差出郵便履歴画面-->
<main>
  <div class="container">
  <br><h3 class="text-center">差出郵便履歴</h3><br>
    <table class = "table table-bordered table-sm col-8 offset-2">
      <thead>
        <tr>
          <th class="text-center border-dark">年月日</th>
          <th class="text-center border-dark">支払予算</th>
          <th class="text-center border-dark">合計通数</th>
          <th class="text-center border-dark">合計金額</th>
          <th class="text-center border-dark">詳細</th>
        </tr>
      </thead>
      <tbody>
        <% @send_letters.each do |send_letter| %>
          <tr>
            <td class="text-center border-dark" style="vertical-align: middle"><%= send_letter.created_at.strftime('%Y/%m/%d') %></td>
            <td class="text-center border-dark" style="vertical-align: middle"><%= send_letter.payment_budget.budget.name %></td>
            <td class="text-right border-dark" style="vertical-align: middle"><%= LetterDetail.eager_load(:send_letter).where(send_letter: {id: send_letter.id}).sum(:number) %></td>
            <td class="text-right border-dark" style="vertical-align: middle">
              <% if send_letter.status == true %>
                <%= send_letter.total_price.to_s(:delimited) %>
              <% else %>
                <!--状態未確定時は空白-->
              <% end %>
            </td>
            <td class="text-center border-dark" style="vertical-align: middle"><%= link_to "詳細", "/send_letters/#{send_letter.id}", class: "btn btn-primary btn-sm form-control" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</main>