<!--集配郵便局等情報編集-->
<main>
  <div class="text-center form-signin">
    <%= form_with model: @post_office, url: admin_post_office_path(@post_office), method: :patch do |f| %>
      <br><h3>集配郵便局等情報編集</h3><br>
      <div class="row justify-content-center">
        <div class="col-2">
          <%= f.text_field :post_office_name, placeholder: "集配郵便局名", autofocus: true, autocomplete: "post_office_name", class: "form-control" %>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-2">
          <%= f.text_field :postal_code, placeholder: "配達郵便区", autocomplete: "postal_code", class: "form-control" %>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-2">
          <%= f.text_field :sender_name, placeholder: "差出人氏名（会社等名称）", autocomplete: "sender_name", class: "form-control" %>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-2">
          <%= f.text_field :customer_number, placeholder: "お客様番号", autocomplete: "customer_number", class: "form-control" %>
        </div>
      </div><br>
      <div class="row justify-content-center">
        <div class="col-2">
          <%= f.submit "更新する", class: "btn btn-success form-control"%>
        </div>
      </div>
    <% end %>
  </div>
</main>