<main>
  <div class = "container">
    <div class = "row">
      <div class = "col-2">
        集配郵便局編集
      </div>
    </div>
    <%= form_with model: @post_office, url: admin_post_office_path, method: :patch do |f| %>
      <div class = "row">
        <div class = "col-2">
          <label for = "name" style = "padding-left: 1em">
            集配郵便局名
          </label>
        </div>
        <div class = "col-3">
          <%= f.text_field :post_office_name, class: "form-control" %>
        </div>
      </div>
      <div class = "row">
        <div class = "col-2">
          <label for = "postal_code" style = "padding-left: 1em">
            配達郵便区
          </label>
        </div>
        <div class = "col-3">
          <%= f.text_field :postal_code, class: "form-control" %>
        </div>
      </div>
      <div class = "row">
        <div class = "col-2">
          <label for = "sender_name" style = "padding-left: 1em">
            差出人氏名
          </label>
        </div>
        <div class = "col-3">
          <%= f.text_field :sender_name, class: "form-control" %>
        </div>
      </div>
      <div class = "row">
        <div class = "col-2">
          <label for = "customer_number" style = "padding-left: 1em">
            お客様番号
          </label>
        </div>
        <div class = "col-3">
          <%= f.text_field :customer_number, class: "form-control" %>
        </div>
      </div>
      <div class = "row">
        <div class = "col-5">
          <%= f.submit "変更を登録する", class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>
</main>