<!--管理者　差出郵便一覧(本日分)画面-->
<main class="container">
  <br><h3 class="text-center">差出郵便一覧(<%= @month.strftime('%y') %>年<%= @month.strftime('%m') %>月分)</h3><br>
    <table class = "table table-bordered table-sm col-8 offset-2">
      <thead>
        <tr>
          <th class="text-center border-dark">年月日</th>
          <th class="text-center border-dark">部署</th>
          <th class="text-center border-dark">支払予算</th>
          <th class="text-center border-dark">合計通数</th>
          <th class="text-center border-dark">合計金額</th>
          <th class="text-center border-dark">詳細</th>
        </tr>
      </thead>
      <tbody>
        <% @send_letters.each do |send_letter| %>
          <tr>
            <td class="text-center border-dark"><%= send_letter.created_at.strftime('%d') %>日</td>
            <td class="text-center border-dark"><%= send_letter.section.name %></td>
            <td class="text-center border-dark"><%= send_letter.payment_budget.budget.name %></td>
            <td class="text-right border-dark"><%= send_letter.total_number %></td>
            <td class="text-right border-dark"><%= send_letter.total_price %></td>
            <td class="text-center border-dark"><%= link_to "詳細", "/send_letters/#{send_letter.id}", class: "btn btn-primary btn-sm" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    <div class="text-center">
      <span><%= link_to "<<前の月",admin_send_letters_path(month:@month.prev_month) %>　　<%= link_to "次の月>>",admin_send_letters_path(month:@month.next_month) %></span>
    </div>


  </div>

</main>