<!--管理者　月集計画面-->
<main class="container">
  <br><h3 class="text-center">月集計(<%= @month.strftime('%y') %>年<%= @month.strftime('%m') %>月)</h3><br>
  <table class="table table-bordered table-sm small">
    <thead>
      <tr>
        <th class="text-center border-dark">部署</th>
        <th class="text-center border-dark">予算</th>
        <th class="text-center border-dark">月計金額</th>
      </tr>
    </thead>
    <tbody>
      <% @payment_budgets.each do |payment_budget| %>
        <% if payment_budget.send_letters.where(created_at: @month.all_month).present? %>
          <tr>
            <td class="text-center border-dark">
              <%= payment_budget.section.name %>
            </td>
            <td class="text-center border-dark">
              <%= payment_budget.budget.name %>
            </td>
            <!--支払予算が持つ当該月の差出郵便ごとの合計金額を配列で取得-->
            <% subtotal = [] %>
            <% payment_budget.send_letters.where(created_at: @month.all_month).each do |send_letter| %>
              <% subtotal << send_letter.total_price %>
            <% end %>
            <!--取得した合計金額の合計を表示-->
            <td class="text-right border-dark">
              <%= subtotal.sum.to_s(:delimited) %>円
            </td>
          </tr>
        <% end %>
      <% end %>
      <!--当該月の差出郵便(全て)の合計金額を配列で取得-->
      <% total = [] %>
      <% @send_letters.each do |send_letter| %>
        <% total << send_letter.total_price %>
      <% end %>
      <!--取得した合計金額の合計を表示-->
      <tr>
        <td colspan="3" class="text-right border-dark"><%= total.sum.to_s(:delimited) %>円</td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    <span><%= link_to "<<前の月",admin_monthly_report_path(month:@month.prev_month) %>　　<%= link_to "次の月>>",admin_monthly_report_path(month:@month.next_month) %></span>
  </div>
</main>