<main>
  <%if resource.errors.any? %>
    <div class="container border border-danger text-danger small">
      <p class="border-bottom border-danger"><%= pluralize(resource.errors.count, "件のエラー") %></p>
      <% resource.errors.full_messages.each do |message| %>
        ・<%= message %><br>
      <% end %>
    </div>
  <% end %>
  <div class="text-center form-signin">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <br><h3>新規登録</h3><br>
      <div class="row justify-content-center">
        <div class="col-2">
          <%= f.text_field :name, placeholder: "部署名", autofocus: true, autocomplete: "name", class: "form-control" %>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-2">
          <%= f.text_field :pic_name, placeholder: "担当者名", autocomplete: "pic_name", class: "form-control" %>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-2">
          <%= f.text_field :telephone_number, placeholder: "電話番号", autocomplete: "telephone_number", class: "form-control" %>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-2">
          <%= f.email_field :email, placeholder: "メールアドレス", autocomplete: "email", class: "form-control" %>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-2">
          <%= f.password_field :password, placeholder: "パスワード", autocomplete: "current-password", class: "form-control" %>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-2">
          <%= f.password_field :password_confirmation, placeholder: "パスワード(確認用)", autocomplete: "new-password", class: "form-control" %>
        </div>
      </div><br>
      <div class="row justify-content-center">
        <div class="col-2">
          <%= f.submit "登録", class: "btn btn-primary form-control"%>
        </div>
      </div>
    <% end %>
  </div>
</main>