<!--部署　差出郵便登録画面-->
<main class="container">
    <br><h3 class="text-center">差出郵便登録</h3><br>
    <div class="row">
      <div class="col-5">
        <div class="row">
          <h5>新規登録</h5>
        </div>
        <div class="row border border-dark small col-12">
        <%= form_with model: @letter, url: letters_path, local: false, method: :post do |f| %>
        <!--デフォルトで表示・・・選択によって重量選択を表示する-->
          <div class="row">
            <div class="col-3 text-center">
              種類
            </div>
            <div class="col-9">
              <label><%= f.radio_button(:type_name_id, 1, onclick: "weightForm(), sizeForm(), proofContentsOptionForm()") %><%= TypeName.find(1).type_name %></label>
              <label><%= f.radio_button(:type_name_id, 2, onclick: "weightForm(), sizeForm(), proofContentsOptionForm()") %><%= TypeName.find(2).type_name %></label>
              <label><%= f.radio_button(:type_name_id, 3, onclick: "weightForm(), sizeForm(), proofContentsOptionForm()") %><%= TypeName.find(3).type_name %></label>
            </div>
          </div><hr>
          <!--種類に手紙が選ばれたときに表示・・・選択によってサイズ選択を表示する-->
          <span id="weight_form_letter" style="display: none">
            <div class="row">
              <div class="col-3 text-center">
                重量
              </div>
              <div class="col-9">
                <label><%= f.radio_button(:weight_id, 2, onclick: "sizeForm(), addressForm()") %><%= Weight.find(2).weight %></label>
                <label><%= f.radio_button(:weight_id, 3, onclick: "sizeForm(), addressForm()") %><%= Weight.find(3).weight %></label>
                <label><%= f.radio_button(:weight_id, 4, onclick: "sizeForm(), addressForm()") %><%= Weight.find(4).weight %></label>
                <label><%= f.radio_button(:weight_id, 5, onclick: "sizeForm(), addressForm()") %><%= Weight.find(5).weight %></label>
                <label><%= f.radio_button(:weight_id, 6, onclick: "sizeForm(), addressForm()") %><%= Weight.find(6).weight %></label>
                <label><%= f.radio_button(:weight_id, 7, onclick: "sizeForm(), addressForm()") %><%= Weight.find(7).weight %></label>
                <label><%= f.radio_button(:weight_id, 8, onclick: "sizeForm(), addressForm()") %><%= Weight.find(8).weight %></label>
                <label><%= f.radio_button(:weight_id, 9, onclick: "sizeForm(), addressForm()") %><%= Weight.find(9).weight %></label>
                <label><%= f.radio_button(:weight_id, 10, onclick: "sizeForm(), addressForm()") %><%= Weight.find(10).weight %></label>
              </div>
            </div><hr>
          </span>
          <!--種類にゆうメールが選ばれたときに表示-->
          <span id="weight_form_yumail" style="display: none">
            <div class="row">
              <div class="col-3 text-center">
                重量
              </div>
              <div class ="col-9">
                <label><%= f.radio_button(:weight_id, 5) %><%= Weight.find(5).weight %></label>
                <label><%= f.radio_button(:weight_id, 6) %><%= Weight.find(6).weight %></label>
                <label><%= f.radio_button(:weight_id, 7) %><%= Weight.find(7).weight %></label>
                <label><%= f.radio_button(:weight_id, 8) %><%= Weight.find(8).weight %></label>
              </div>
            </div><hr>
          </span>
          <!--重量に25g以内又は50g以内が選ばれたときに表示-->
          <span id="size_form_50g" style="display: none">
            <div class="row">
              <div class="col-3 text-center">
                サイズ
              </div>
              <div class="col-9">
                <label><%= f.radio_button(:size_id, 2, onclick: "addressForm(), barcodeForm()") %><%= Size.find(2).size %></label>
                <label><%= f.radio_button(:size_id, 3, onclick: "addressForm(), barcodeForm()") %><%= Size.find(3).size %></label>
                <label><%= f.radio_button(:size_id, 4, onclick: "addressForm(), barcodeForm()") %><%= Size.find(4).size %></label>
              </div>
            </div><hr>
          </span>
          <!--重量に100g以内から1kg以内が選ばれたときに表示-->
          <span id="size_form_1kg" style="display: none">
            <div class="row">
              <div class="col-3 text-center">
                サイズ
              </div>
              <div class="col-9">
                <label><%= f.radio_button(:size_id, 3, onclick: "addressForm()") %><%= Size.find(3).size %></label>
                <label><%= f.radio_button(:size_id, 4, onclick: "addressForm()") %><%= Size.find(4).size %></label>
              </div>
            </div><hr>
          </span>
          <!--重量に2kg以内又は4kg以内が選ばれたときに表示-->
          <span id="size_form_4kg" style="display: none">
            <div class="row">
              <div class="col-3 text-center">
                サイズ
              </div>
              <div class="col-9">
                <label><%= f.radio_button(:size_id, 4) %><%= Size.find(4).size %></label>
              </div>
            </div><hr>
          </span>
          <!--種類にはがきが選ばれたときに表示-->
          <span id="size_form_card" style="display: none">
            <div class="row">
              <div class="col-3 text-center">
                サイズ
              </div>
              <div class="col-9">
                <label><%= f.radio_button(:size_id, 5) %><%= Size.find(5).size %></label>
                <label><%= f.radio_button(:size_id, 6) %><%= Size.find(6).size %></label>
              </div>
            </div><hr>
          </span>
          <!--重量に25g以内から250g以内が選ばれ、かつ、サイズに定形又は定形外（規格内）が選ばれたときに表示-->
          <span id="address_form" style="display: none">
            <div class="row">
              <div class="col-3 text-center">
                宛先
              </div>
              <div class="col-9">
                <label><%= f.radio_button(:address_id, 2, onclick: "barcodeForm()") %><%= Address.find(2).address %></label>
                <label><%= f.radio_button(:address_id, 3, onclick: "barcodeForm()") %><%= Address.find(3).address %></label>
              </div>
            </div><hr>
          </span>
          <!--サイズに定形が選ばれ、かつ、宛先に区内が選ばれたときに表示-->
          <span id="barcode_form" style="display: none">
            <div class="row">
              <div class="col-3 text-center">
                バーコード
              </div>
              <div class="col-9">
                <label><%= f.radio_button(:barcode_id, 2) %><%= Barcode.find(2).barcode %></label>
                <label><%= f.radio_button(:barcode_id, 3) %><%= Barcode.find(3).barcode %></label>
              </div>
            </div><hr>
          </span>
          <!--デフォルトで表示-->
          <div class="row">
            <div class="col-3 text-center">
              速達<br>配達日指定
            </div>
            <div class="col-9">
              <% DeliveryDateOption.all.each do |delivery_date_option| %>
                <label><%= f.radio_button(:delivery_date_option_id, delivery_date_option.id) %><%= delivery_date_option.option %></label>
              <% end %>
            </div>
          </div><hr>
          <!--デフォルトで表示-->
          <div class="row">
            <div class="col-3 text-center">
              書留<br>特定記録
            </div>
            <div class="col-9">
              <label><%= f.radio_button(:registered_option_id, 1, onclick: "proofDeliveryOptionForm(), proofContentsOptionForm()") %><%= RegisteredOption.find(1).option %></label>
              <label><%= f.radio_button(:registered_option_id, 2, onclick: "proofDeliveryOptionForm(), proofContentsOptionForm()") %><%= RegisteredOption.find(2).option %></label>
              <label><%= f.radio_button(:registered_option_id, 3, onclick: "proofDeliveryOptionForm(), proofContentsOptionForm()") %><%= RegisteredOption.find(3).option %></label>
              <label><%= f.radio_button(:registered_option_id, 4, onclick: "proofDeliveryOptionForm(), proofContentsOptionForm()") %><%= RegisteredOption.find(4).option %></label>
            </div>
          </div><hr>
          <!--書留オプションで一般書留が選択されたときに表示-->
          <span id="proof_delivery_option_form" style = "display: none">
            <div class="row">
              <div class="col-3 text-center">
                配達証明
              </div>
              <div class="col-9">
                <% ProofDeliveryOption.all.each do |proof_delivery_option| %>
                  <label><%= f.radio_button(:proof_delivery_option_id, proof_delivery_option.id) %><%= proof_delivery_option.option %></label>
                <% end %>
              </div>
            </div><hr>
          </span>
          <!--種類で手紙が選択され、かつ、書留オプションで一般書留が選択されたときに表示-->
          <span id="proof_contents_option_form" style = "display: none">
            <div class="row">
              <div class="col-3 text-center">
                内容証明
              </div>
              <div class="col-9">
                <% ProofContentsOption.all.each do |proof_contents_option| %>
                  <label><%= f.radio_button(:proof_contents_option_id, proof_contents_option.id) %><%= proof_contents_option.option %></label>
                <% end %>
              </div>
            </div><hr>
          </span>
          <!--書留オプションで一般書留が選択されたときに表示-->
          <span id="personal_receipt_option_form" style="display: none">
            <div class="row">
              <div class="col-3 text-center">
                本人限定受取
              </div>
              <div class="col-9">
                <% PersonalReceiptOption.all.each do |personal_receipt_option| %>
                  <label><%= f.radio_button(:personal_receipt_option_id, personal_receipt_option.id) %><%= personal_receipt_option.option %></label>
                <% end %>
              </div>
            </div><hr>
          </span>
          <!--デフォルトで表示-->
          <div class="row">
            <div class="col-3 text-center">
              通数
            </div>
            <div class="col-4">
              <%= f.text_field :number, class: "form-control" %>
            </div>
          </div><br>
          <div class="row">
            <div class="col-12">
              <%= f.submit "新規登録", class: "btn btn-success btn-sm form-control" %>
            </div>
          </div><br>
         <% end %>
        </div>
      </div>
      <div class="col-6 offset-1">
        <h5>登録済一覧</h5>
        <div class = "row">
          <table class = "table table-bordered table-sm">
          <% @letters.each do |letter| %>
            <tr>
              <td style="width:30%">
                <%= letter.type.type_name.type_name %>
                <% if letter.type.weight_id != 1 %>
                  <%= letter.type.weight.weight %><br>
                <% end %>
                <% if letter.type.size_id != 1 %>
                  <%= letter.type.size.size %><br>
                <% end %>
                <% if letter.type.address_id != 1 %>
                  <%= letter.type.address.address %><br>
                <% end %>
                <% if letter.type.barcode_id != 1 %>
                  <%= letter.type.barcode.barcode %><br>
                <% end %>
              </td>
              <td style="width:40%">
                <% if letter.type.delivery_date_option_id != 1 %>
                  <%= letter.type.delivery_date_option.option %><br>
                <% end %>
                <% if letter.type.registered_option_id != 1 %>
                  <%= letter.type.registered_option.option %><br>
                <% end %>
                <% if letter.type.proof_delivery_option_id != 1 %>
                  <%= letter.type.proof_delivery_option.option %><br>
                <% end %>
                <% if letter.type.proof_contents_option_id != 1 %>
                  <%= letter.type.proof_contents_option.option %><br>
                <% end %>
                <% if letter.type.personal_receipt_option_id != 1 %>
                  <%= letter.type.personal_receipt_option.option %><br>
                <% end %>
              </td>
              <td style="width:15%">
                <%= form_with model: letter, url: "/letters/#{letter.id}", method: :patch do |f| %>
                    <%= f.text_field :number, class: "form-control" %><br><%= f.submit '変更', class: "btn btn-success btn-sm form-control" %>
                <% end %>
              </td>
              <td style="vertical-align:middle">
                <%= link_to "削除", "letters/#{letter.id}", method: :delete, class: "btn btn-danger btn-sm form-control" %>
              </td>
            </tr>
          <% end %>
          </table>
        </div>
        <div class = "row">
          <div class = "col-4">
            <%= link_to "支払予算の入力へ", send_letters_new_path, class: "btn btn-success form-control" %>
          </div>
          <div class = "col-4 offset-4">
            <%= link_to "全て削除", letters_destroy_all_path, method: :delete, class: "btn btn-danger form-control" %>
          </div>
        </div>
      </div>
    </div>
</main>
<script>
  function weightForm() {
    chk = document.getElementsByName('letter[type_name_id]')
    if (chk[0].checked) {
        document.getElementById('weight_form_letter').style.display = "";
        document.getElementById('weight_form_yumail').style.display = "none";
        document.getElementById('size_form_50g').style.display = "none";
        document.getElementById('size_form_1kg').style.display = "none";
        document.getElementById('size_form_4kg').style.display = "none";
        document.getElementById('size_form_card').style.display = "none";
        document.getElementById('address_form').style.display = "none";
        document.getElementById('barcode_form').style.display = "none";
        for (const element of document.getElementsByName('letter[weight_id]')) {
        element.checked = false;
        }
        for (const element of document.getElementsByName('letter[size_id]')) {
        element.checked = false;
        }
        for (const element of document.getElementsByName('letter[address_id]')) {
        element.checked = false;
        }
        for (const element of document.getElementsByName('letter[barcode_id]')) {
        element.checked = false;
        }
    } else if (chk[2].checked) {
        document.getElementById('weight_form_letter').style.display = "none";
        document.getElementById('weight_form_yumail').style.display = "";
        document.getElementById('size_form_50g').style.display = "none";
        document.getElementById('size_form_1kg').style.display = "none";
        document.getElementById('size_form_4kg').style.display = "none";
        document.getElementById('size_form_card').style.display = "none";
        document.getElementById('address_form').style.display = "none";
        document.getElementById('barcode_form').style.display = "none";
        for (const element of document.getElementsByName('letter[weight_id]')) {
        element.checked = false;
        }
        for (const element of document.getElementsByName('letter[size_id]')) {
        element.checked = false;
        }
        for (const element of document.getElementsByName('letter[address_id]')) {
        element.checked = false;
        }
        for (const element of document.getElementsByName('letter[barcode_id]')) {
        element.checked = false;
        }
      } else {
        document.getElementById('weight_form_letter').style.display = "none";
        document.getElementById('weight_form_yumail').style.display = "none";
        document.getElementById('size_form_50g').style.display = "none";
        document.getElementById('size_form_1kg').style.display = "none";
        document.getElementById('size_form_4kg').style.display = "none";
        document.getElementById('size_form_card').style.display = "none";
        document.getElementById('address_form').style.display = "none";
        document.getElementById('barcode_form').style.display = "none";
        for (const element of document.getElementsByName('letter[weight_id]')) {
        element.checked = false;
        }
        for (const element of document.getElementsByName('letter[size_id]')) {
        element.checked = false;
        }
        for (const element of document.getElementsByName('letter[address_id]')) {
        element.checked = false;
        }
        for (const element of document.getElementsByName('letter[barcode_id]')) {
        element.checked = false;
        }
    }
  };
  function sizeForm() {
    chkT = document.getElementsByName('letter[type_name_id]')
    chkW = document.getElementsByName('letter[weight_id]')
    if (chkW[0].checked || chkW[1].checked) {
        document.getElementById('size_form_50g').style.display = "";
        document.getElementById('size_form_1kg').style.display = "none";
        document.getElementById('size_form_4kg').style.display = "none";
        document.getElementById('size_form_card').style.display = "none";
        document.getElementById('barcode_form').style.display = "none";
        for (const element of document.getElementsByName('letter[size_id]')) {
        element.checked = false;
        }
        for (const element of document.getElementsByName('letter[address_id]')) {
        element.checked = false;
        }
        for (const element of document.getElementsByName('letter[barcode_id]')) {
        element.checked = false;
        }
    } else if (chkW[2].checked || chkW[3].checked || chkW[4].checked || chkW[5].checked || chkW[6].checked) {
        document.getElementById('size_form_50g').style.display = "none";
        document.getElementById('size_form_1kg').style.display = "";
        document.getElementById('size_form_4kg').style.display = "none";
        document.getElementById('size_form_card').style.display = "none";
        document.getElementById('barcode_form').style.display = "none";
        for (const element of document.getElementsByName('letter[size_id]')) {
        element.checked = false;
        }
        for (const element of document.getElementsByName('letter[address_id]')) {
        element.checked = false;
        }
        for (const element of document.getElementsByName('letter[barcode_id]')) {
        element.checked = false;
        }
    } else if (chkW[7].checked || chkW[8].checked) {
        document.getElementById('size_form_50g').style.display = "none";
        document.getElementById('size_form_1kg').style.display = "none";
        document.getElementById('size_form_4kg').style.display = "";
        document.getElementById('size_form_card').style.display = "none";
        document.getElementById('barcode_form').style.display = "none";
        for (const element of document.getElementsByName('letter[size_id]')) {
        element.checked = false;
        }
        for (const element of document.getElementsByName('letter[address_id]')) {
        element.checked = false;
        }
        for (const element of document.getElementsByName('letter[barcode_id]')) {
        element.checked = false;
        }
    } else if (chkT[1].checked) {
        document.getElementById('size_form_50g').style.display = "none";
        document.getElementById('size_form_1kg').style.display = "none";
        document.getElementById('size_form_4kg').style.display = "none";
        document.getElementById('size_form_card').style.display = "";
        document.getElementById('barcode_form').style.display = "none";
        for (const element of document.getElementsByName('letter[size_id]')) {
        element.checked = false;
        }
        for (const element of document.getElementsByName('letter[address_id]')) {
        element.checked = false;
        }
        for (const element of document.getElementsByName('letter[barcode_id]')) {
        element.checked = false;
        }
    } else {
        document.getElementById('size_form_50g').style.display = "none";
        document.getElementById('size_form_1kg').style.display = "none";
        document.getElementById('size_form_4kg').style.display = "none";
        document.getElementById('size_form_card').style.display = "none";
        document.getElementById('barcode_form').style.display = "none";
        for (const element of document.getElementsByName('letter[size_id]')) {
        element.checked = false;
        }
        for (const element of document.getElementsByName('letter[address_id]')) {
        element.checked = false;
        }
        for (const element of document.getElementsByName('letter[barcode_id]')) {
        element.checked = false;
        }
    }
  };
  function addressForm() {
    chkW = document.getElementsByName('letter[weight_id]')
    chkS = document.getElementsByName('letter[size_id]')
    if ((chkW[0].checked || chkW[1].checked || chkW[2].checked || chkW[3].checked || chkW[4].checked) && ((chkS[0].checked || chkS[1].checked) || (chkS[3].checked || chkS[4].checked))) {
        document.getElementById('address_form').style.display = "";
        document.getElementById('barcode_form').style.display = "none";
        for (const element of document.getElementsByName('letter[address_id]')) {
        element.checked = false;
        }
        for (const element of document.getElementsByName('letter[barcode_id]')) {
        element.checked = false;
        }
    } else {
        document.getElementById('address_form').style.display = "none";
        document.getElementById('barcode_form').style.display = "none";
        for (const element of document.getElementsByName('letter[address_id]')) {
        element.checked = false;
        }
        for (const element of document.getElementsByName('letter[barcode_id]')) {
        element.checked = false;
        }
    }
  };
  function barcodeForm() {
    chkS = document.getElementsByName('letter[size_id]')
    chkA = document.getElementsByName('letter[address_id]')
    if (chkS[0].checked && chkA[0].checked) {
        document.getElementById('barcode_form').style.display = "";
        for (const element of document.getElementsByName('letter[barcode_id]')) {
        element.checked = false;
        }
    } else {
        document.getElementById('barcode_form').style.display = "none";
        for (const element of document.getElementsByName('letter[barcode_id]')) {
        element.checked = false;
        }
    }
  };
  function proofDeliveryOptionForm() {
    chk = document.getElementsByName('letter[registered_option_id]')
    if (chk[3].checked) {
        document.getElementById('proof_delivery_option_form').style.display = "";
        document.getElementById('proof_contents_option_form').style.display = "none";
        document.getElementById('personal_receipt_option_form').style.display = "none";
        for (const element of document.getElementsByName('letter[proof_delivery_option_id]')) {
        element.checked = false;
        }
        for (const element of document.getElementsByName('letter[proof_contents_option_id]')) {
        element.checked = false;
        }
        for (const element of document.getElementsByName('letter[personal_receipt_option_id]')) {
        element.checked = false;
        }
    } else {
        document.getElementById('proof_delivery_option_form').style.display = "none";
        document.getElementById('proof_contents_option_form').style.display = "none";
        document.getElementById('personal_receipt_option_form').style.display = "none";
        for (const element of document.getElementsByName('letter[proof_delivery_option_id]')) {
        element.checked = false;
        }
        for (const element of document.getElementsByName('letter[proof_contents_option_id]')) {
        element.checked = false;
        }
        for (const element of document.getElementsByName('letter[personal_receipt_option_id]')) {
        element.checked = false;
        }
    }
  };
  function proofContentsOptionForm() {
    chkT = document.getElementsByName('letter[type_name_id]')
    chkR = document.getElementsByName('letter[registered_option_id]')
    if (chkT[0].checked && chkR[3].checked) {
        document.getElementById('proof_contents_option_form').style.display = "";
        document.getElementById('personal_receipt_option_form').style.display = "none";
        for (const element of document.getElementsByName('letter[proof_contents_option_id]')) {
        element.checked = false;
        }
        for (const element of document.getElementsByName('letter[personal_receipt_option_id]')) {
        element.checked = false;
        }
    } else {
        document.getElementById('proof_contents_option_form').style.display = "none";
        document.getElementById('personal_receipt_option_form').style.display = "none";
        for (const element of document.getElementsByName('letter[proof_contents_option_id]')) {
        element.checked = false;
        }
        for (const element of document.getElementsByName('letter[personal_receipt_option_id]')) {
        element.checked = false;
        }
    }
  };
  function personalReceiptOptionForm() {
    chk = document.getElementsByName('letter[registered_option_id]')
    if (chk[3].checked) {
        document.getElementById('personal_receipt_option_form').style.display = "";
        for (const element of document.getElementsByName('letter[personal_receipt_option_id]')) {
        element.checked = false;
        }
    } else {
        document.getElementById('personal_receipt_option_form').style.display = "none";
        for (const element of document.getElementsByName('letter[personal_receipt_option_id]')) {
        element.checked = false;
        }
    }
  };
</script>