<!DOCTYPE html>
<html>
  <head>
    <title>WeLetters</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "shadow-sm h1">
      <div class = "col-2">ヘッダー</div>
        <% if admin_signed_in? %>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-light text-nowrap", :style => "width:120px" %>
        <% elsif section_signed_in? %>
          <%= link_to "ログアウト", destroy_section_session_path, method: :delete, class: "btn btn-light", :style => "width:120px" %>
        <% else %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
