<!DOCTYPE html>
<html>
  <head>
    <title>WeLetters</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class = "shadow-sm h1 container-fluid">
      <div class = "row" style = "margin-bottom: 60px">
        <div class = "col-2">
          <a class = "navbar-brand p-3" href="/"><%= image_tag('logo.png') %></a>
        </div>
          <% if admin_signed_in? %>
            <div class = "col-2 offset-8">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-light text-nowrap", :style => "width:120px" %>
            </div>
          <% elsif section_signed_in? %>
            <div class = "col-2 offset-8">
              <%= link_to "ログアウト", destroy_section_session_path, method: :delete, class: "btn btn-light text-nowrap", :style => "width:120px" %>
            </div>
          <% else %>
            <div class = "col-2 offset-5">
              <%= link_to "管理者ログイン", new_admin_session_path, class: "btn btn-light text-nowrap" %>
            </div>
            <div class = "col-2 offset-1">
              <%= link_to "部署ログイン", new_section_session_path, class: "btn btn-light text-nowrap" %>
            </div>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>